$custom-blue: (
    50: #e9eaf5,
    100: #c8cbe5,
    200: #a4a9d4,
    300: #7f87c3,
    400: #636db6,
    500: #4853a9,
    600: #414ca2,
    700: #384298,
    800: #30398f,
    900: #21297e,
    A100: #bdc2ff,
    A200: #8a93ff,
    A400: #5764ff,
    A700: #3d4cff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$slate: (
    50: #ecedee,
    100: #d0d3d4,
    200: #b1b6b8,
    300: #91999c,
    400: #7a8386,
    500: #626d71,
    600: #5a6569,
    700: #505a5e,
    800: #465054,
    900: #343e42,
    A100: #99defc,
    A200: #67cefb,
    A400: #30bfff,
    A700: #17b8ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$ceramic: (
    50: #f9f9f7,
    100: #f0f0ec,
    200: #e6e6e0,
    300: #dcdcd3,
    400: #d5d5c9,
    500: #cdcdc0,
    600: #c8c8ba,
    700: #c1c1b2,
    800: #babaaa,
    900: #aeae9c,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffec,
    A700: #ffffd3,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$latte: (
    50: #fbf7f2,
    100: #f5ebdf,
    200: #eedeca,
    300: #e7d0b5,
    400: #e2c6a5,
    500: #ddbc95,
    600: #d9b68d,
    700: #d4ad82,
    800: #cfa578,
    900: #c79767,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffe8d3,
    A700: #ffdbb9,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$coffee: (
    50: #f6f1ed,
    100: #e8dbd1,
    200: #d9c4b3,
    300: #caac95,
    400: #be9a7e,
    500: #b38867,
    600: #ac805f,
    700: #a37554,
    800: #9a6b4a,
    900: #8b5839,
    A100: #ffe7da,
    A200: #ffc7a7,
    A400: #ffa774,
    A700: #ff975a,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$dark-blue: (
    50: #e7e7e9,
    100: #c3c4c8,
    200: #9b9ca3,
    300: #73747e,
    400: #555763,
    500: #373947,
    600: #313340,
    700: #2a2c37,
    800: #23242f,
    900: #161720,
    A100: #6679ff,
    A200: #334cff,
    A400: #0020ff,
    A700: #001de6,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$soft-pink: (
    50: #fdfcfc,
    100: #fbf7f8,
    200: #f8f2f4,
    300: #f5ecf0,
    400: #f2e8ec,
    500: #f0e4e9,
    600: #eee1e6,
    700: #ecdde3,
    800: #e9d9df,
    900: #e5d1d9,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$space: (
    50: #e6e6e8,
    100: #bfc0c6,
    200: #9596a1,
    300: #6b6c7b,
    400: #4b4d5e,
    500: #2b2d42,
    600: #26283c,
    700: #202233,
    800: #1a1c2b,
    900: #10111d,
    A100: #6161ff,
    A200: #2e2eff,
    A400: #0000fa,
    A700: #0000e0,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #ffffff,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
    ),
);

$manat: (
    50: #f1f3f5,
    100: #dde0e7,
    200: #c6ccd7,
    300: #afb8c6,
    400: #9ea8ba,
    500: #8d99ae,
    600: #8591a7,
    700: #7a869d,
    800: #707c94,
    900: #5d6b84,
    A100: #f2f7ff,
    A200: #bfd5ff,
    A400: #8cb3ff,
    A700: #73a3ff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$alice: (
    50: #fdfdfe,
    100: #fafbfc,
    200: #f6f9fa,
    300: #f2f6f7,
    400: #f0f4f6,
    500: #edf2f4,
    600: #ebf0f3,
    700: #e8eef1,
    800: #e5ecef,
    900: #e0e8ec,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #000000,
        600: #000000,
        700: #000000,
        800: #000000,
        900: #000000,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);
