@import "./material";

$space-xs: 4px;
$space-sm: 8px;
$space-md: 12px;
$space-gt-md: 12px;


$screen-xs-min: 0px;
$screen-sm-min: 600px;
$screen-md-min: 960px;
$screen-lg-min: 1280px;
$screen-xl-min: 1920px;

$nav-height-gt-sm: 75px;
$nav-height-lt-md: 45px;
$sub-nav-height-gt-sm: 45px;
$sub-nav-height-lt-md: 45px;


