<header class="header" fxLayout="row wrap">
  <div class="header__logo" fxFlex="20" fxLayoutAlign="center center">
    <a class="link" href="#">Logo</a>
  </div>
  <!-- top position -->
  <nav class="header__main-nav main-nav" [ngClass]="['main-nav_' + navType, 'header__main-nav_' + navType]"
    fxHide.lt-md="true" fxFlex="80" fxLayoutAlign="start center" appScrolling
    (elementSticky)="elementSticky($event)">
    <app-main-nav fxFlex [navType]="navType"></app-main-nav>
  </nav>
  <!-- aside position -->
  <nav class="header__main-nav main-nav animationAppear05s"
    [ngClass]="['main-nav_' + navType, 'header__main-nav_' + navType, showMainMenu ? '' : 'display-none']"
    fxHide.gt-sm="true" (click)="switchMainMenu()">
    <app-main-nav [navType]="navType"></app-main-nav>
  </nav>

  <div fxFlex fxHide.gt-sm="true" fxFlex="60"></div>

  <div class="header__menu-button" fxHide.gt-sm="true" fxFlex="20" fxLayoutAlign="end center">
    <a class="link" mat-button aria-label="Menu" (click)="switchMainMenu()">
      <i *ngIf="!showMainMenu" class="link__icon item fas fa-bars"></i>
      <i *ngIf="showMainMenu" class="link__icon item fas fa-ellipsis-v"></i>
    </a>
  </div>

  <nav *ngIf="subNav?.length" class="header__sub-nav sub-nav" fxFlex="100" fxLayoutAlign="center center">
    <app-sub-nav [nav]="subNav"></app-sub-nav>
  </nav>
  <!-- top position -->
  <nav *ngIf="scrollNav?.length" class="header__scroll-nav scroll-nav"
    [ngClass]="['scroll-nav_' + navType, 'header__scroll-nav_' + navType, sticky ? 'scroll-nav_top_sticky stickyBarAnimation' : '']"
    fxHide.lt-md="true" fxFlex="100" fxLayoutAlign="center center">
    <app-scroll-nav [nav]="scrollNav"></app-scroll-nav>
  </nav>
  <!-- aside position -->
  <nav *ngIf="scrollNav?.length" class="header__scroll-nav scroll-nav"
    [ngClass]="['scroll-nav_' + navType, 'header__scroll-nav_' + navType]" fxHide.gt-sm="true">
    <app-scroll-nav [nav]="scrollNav" [navType]="navType"></app-scroll-nav>
  </nav>
</header>