<div class="header__logo cell" fxFlex="20" fxLayoutAlign="center center">
 <a class="link" href="#">Logo</a>
</div>
<nav class="header__main-nav main-nav cell" fxFlex="80" fxLayoutAlign="start center">
  <app-main-nav fxFlex></app-main-nav>
</nav>
<nav *ngIf="scrollNav?.length" class="header__scroll-nav scroll-nav cell" fxFlex="100" fxLayoutAlign="center center">
  <app-scroll-nav [scrollNav]="scrollNav"></app-scroll-nav>
</nav>


<!-- <header class="header">
  <app-header>
    <div class="header__logo">logo</div>
    <nav class="header__main-nav main-nav">
      <app-main-nav>
        <ul class="main-nav__list">
          <li class="main-nav__item"></li>
          <li class="main-nav__item"></li>
          <li class="main-nav__item"></li>
        </ul>
      </app-main-nav>
    </nav>
    <nav class="header__scroll-nav scroll-nav">
      <app-scroll-nav>
        <ul class="scroll-nav__list">
          <li class="scroll-nav__item link">
            <a class="link__anchor">
              <i class="link__icon fas fa-share"></i>
              <span class="link__text">text</span>
            </a>
          </li>
          <li class="scroll-nav__item"></li>
          <li class="scroll-nav__item"></li>
        </ul>
      </app-scroll-nav>
    </nav>
  </app-header>
</header> -->