@import "./styles/grid";

// initial reset
html {
  font-size: 14px;
  box-sizing: border-box;
  // fonts for all not material elements
  font-family: $mainFontFamily;
}

.canvas-wrapper {
  border: 1px solid darkgray;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // apply material styles to non material elements (containers)
  @extend .mat-app-background;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  // @include mat-typography-level-to-styles($config, body-1);
}

a:hover {
  cursor: pointer;
}

.display-none {
  display: none;
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
    // transform: translateY(60px);
  }
  to {
    opacity: 1;
    // transform: translateY(0);
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animationAppear03s {
  @include animation(fadeIn 0.3s forwards);
}

.animationDissappear03s {
  @include animation(fadeOut 0.3s forwards);
}

.animationAppear05s {
  @include animation(fadeIn 0.5s forwards);
}

.animationAppear1s {
  @include animation(fadeIn 1s forwards);
}

.link {
  &__icon,
  &__text {
    vertical-align: middle; // align with siblings
    color: mat-color($primary);
  }
  &__icon {
    font-size: mat-font-size($config, subheading-2);
  }
  &__text {
    @include mat-typography-level-to-styles($config, body-1);
  }
  &_active {
    .link {
      &__icon,
      &__text {
        color: mat-color($accent);
      }
    }
  }
  &_disabled {
    .link {
      &__icon,
      &__text {
        color: mat-color($foreground, disabled-text);
      }
    }
  }
}

$slate: map-get($slate-ceramic-theme, primary);
$ceramic: map-get($slate-ceramic-theme, accent);
$coffee: map-get($coffee-latte-theme, primary);
$latte: map-get($coffee-latte-theme, accent);

.header {
  background-color: mat-color($slate, 800);
  .link {
    &__icon,
    &__text {
      color: mat-color($ceramic, 100);
    }

    &_active {
      .link {
        &__icon,
        &__text {
          color: mat-color($ceramic, 500);
        }
      }
    }
    &_disabled {
      .link {
        &__icon,
        &__text {
          color: mat-color($foreground, disabled-text);
        }
      }
    }
  }
}

.scroll-nav {
  background-color: mat-color($slate, 800);
  .link {
    &__icon,
    &__text {
      color: mat-color($ceramic, 100);
    }
    &__icon {
      font-size: mat-font-size($config, body-1);
    }
    &__text {
      @include mat-typography-level-to-styles($config, caption);
    }
    &_active {
      .link {
        &__icon,
        &__text {
          color: mat-color($ceramic, 500);
        }
      }
    }
    &_disabled {
      .link {
        &__icon,
        &__text {
          color: mat-color($foreground, disabled-text);
        }
      }
    }
  }
  // @include angular-material-theme($slate-ceramic-theme);
}

// dark styled elements
// @mixin dark-theme-styles($theme) {
//   $primary: map-get($theme, primary);
//   $accent: map-get($theme, accent);
//   $warn: map-get($theme, accent);
//   $foreground: map-get($theme, foreground);
//   $background: map-get($theme, background);

//   .header {
//     .link {
//       &__icon,
//       &__text {
//         color: mat-color($primary, 100);
//       }
//       &_active {
//         .link {
//           &__icon,
//           &__text {
//             color: mat-color($foreground, text);
//           }
//         }
//       }
//       &_disabled {
//         .link {
//           &__icon,
//           &__text {
//             color: mat-color($foreground, disabled-text);
//           }
//         }
//       }
//     }
//   }
// }

// @include dark-theme-styles($dark-theme);
