@import "./styles/grid";

// initial reset
html {
  font-size: 14px;
  box-sizing: border-box;
  // fonts for all not material elements
  font-family: $mainFontFamily;
}

.canvas-wrapper {
  border: 1px solid darkgray;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  // apply material styles to non material elements (containers)
  @extend .mat-app-background;
  padding: 0;
  margin: 0;
}

p,
h1,
h2,
h3 {
  padding: 0 !important;
  margin: 0 !important;
}

ul {
  list-style: none;
  padding-inline-start: 0;
  margin: 0;
}
a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  // @include mat-typography-level-to-styles($config, body-1);
}

a:hover {
  cursor: pointer;
}

.display-none {
  display: none !important;
}

.hide-scrollbar {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
    // transform: translateY(60px);
  }
  to {
    opacity: 1;
    // transform: translateY(0);
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(stickyBar) {
  from {
    opacity: 1;
    transform: translateY(-5px);
  }
  to {
    opacity: 0.9;
    transform: translateY(0);
  }
}

.stickyBarAnimation {
  @include animation(stickyBar 0.5s forwards);
}

.animationAppear03s {
  @include animation(fadeIn 0.3s forwards);
}

.animationDissappear03s {
  @include animation(fadeOut 0.3s forwards);
}

.animationAppear05s {
  @include animation(fadeIn 0.5s forwards);
}

.animationAppear1s {
  @include animation(fadeIn 1s forwards);
}

.link {
  &__photo {
    width: 25px;
    height: auto;
    max-height: 25px;
  }
  &__photo,
  &__icon,
  &__icon-text {
    @extend .item;
    vertical-align: middle; // align with siblings
    color: mat-color($primary);
  }
  &__icon {
    font-size: mat-font-size($config, subheading-2);
  }
  &__text {
    @include mat-typography-level-to-styles($config, body-1);
  }
  &_active {
    .link {
      &__icon,
      &__text {
        color: mat-color($accent);
      }
    }
  }
  &_disabled {
    .link {
      &__icon,
      &__text {
        color: mat-color($foreground, disabled-text);
      }
    }
  }
}

.header {
  width: 100%;
  background-color: mat-color($primary, 500);
  .link {
    &__icon,
    &__text {
      color: mat-color($alice, 200);
    }
    &_active {
      .link {
        &__icon,
        &__text {
          color: mat-color($accent, 300);
        }
      }
    }
    &_disabled {
      .link {
        &__icon,
        &__text {
          color: mat-color($foreground, disabled-text);
        }
      }
    }
  }
  &__main-nav {
    &_aside {
      position: absolute;
      right: 0;
      width: 200px;
      @include lt-md {
        top: $nav-height-lt-md;
        height: calc(100vh - #{$nav-height-lt-md});
      }
    }
    &_top {
      @include gt-sm {
        height: $nav-height-gt-sm;
      }
    }
  }
  &__scroll-nav {
    &_aside {
      position: fixed;
      left: 0;
      @include gt-sm {
        height: $sub-nav-height-gt-sm;
      }
      @include lt-md {
        top: $nav-height-lt-md;
        height: calc(100vh - #{$nav-height-lt-md});
      }
      @include transition(width 1s);
    }
  }
  &__logo,
  &__menu-button {
    @include gt-sm {
      height: $nav-height-gt-sm;
    }
    @include lt-md {
      height: $nav-height-lt-md;
    }
  }
  &__sub-nav {
    @include gt-sm {
      height: $sub-nav-height-gt-sm;
    }
    @include lt-md {
      height: $sub-nav-height-lt-md;
    }
  }
}

.main-nav {
  background-color: mat-color($primary, 500);
  &_aside {
    @include responsive-padding(1);
    opacity: 0.8;
    @extend .hide-scrollbar;
    align-content: space-around;
    .main-nav {
      &__list {
        flex-direction: column !important;
        height: 100%;
      }
    }
  }
  &_top {
    .main-nav {
      &__list {
        flex-direction: row;
      }
    }
  }
}

.sub-nav {
  background-color: mat-color($primary, 800);
  .link {
    &__icon {
      font-size: mat-font-size($config, body-1);
    }
    &__text {
      @include mat-typography-level-to-styles($config, caption);
    }
  }
}

.scroll-nav {
  &_aside {
    position: fixed;
    top: 0;
    height: 100vh;
    // opacity: 0.8;
    // @extend .hide-scrollbar;
    align-content: space-around;
    .scroll-nav {
      &__wrapper {
        display: flex;
        flex-flow: row nowrap;
        height: 100%;
        // background-color: rgba(mat-color($background, background), 0);
        // color: mat-color($foreground, body-1);
      }
      &__list {
        background-color: mat-color($primary, 800);
        opacity: 0.8;
        overflow-y: auto;
        overflow-x: hidden;
        width: 0;
        @include transition(width 1s);
        padding: 4.5rem 0 4rem 0;
        flex-direction: column;
        align-content: space-around;
        height: 100%;
        &_opened {
          width: 200px;
        }
      }

      &__button {
        background-color: mat-color($primary, 300);
        padding: 0 3px;
        height: 40px;
        // background-color: rgba(white, 0.9);
        display: flex;
        align-items: center; // vertical align
        justify-content: center; // horizontal align
        @include transition(height 1s);
        @include radius(0 5px 5px 0);
        &_opened {
          height: 100%;
          @include radius(0);
        }
      }
    }
  }
  &_top {
    background-color: mat-color($primary, 800);
    .link {
      &__icon {
        font-size: mat-font-size($config, body-1);
      }
      &__text {
        @include mat-typography-level-to-styles($config, caption);
      }
    }
    &_sticky {
      position: fixed;
      top: 0px;
      width: 100%;
      opacity: 0.9;
    }
    .scroll-nav {
      // background-color: mat-color($primary, 800);
      &__list {
        flex-direction: row;
      }
    }
  }
}

.homepage {
  &__section {
    @include responsive-padding-trbl(5, 8, 0, 8);
    // padding: 4.5rem 100px 0 100px;
    // @include lt-md {
    //   padding: 3rem 1rem 0 1rem;
    // }
    min-height: 100vh;
    background-color: mat-color($primary, 50);
    &:nth-child(even) {
      background-color: mat-color($primary, 100);
    }
    &_start {
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.4) 100%),
        url("/assets/logo2.jpg") center center / cover no-repeat #fff;
    }
  }
}
